@model Product
<div class="card m-1 text-center" style="min-width: 23%; max-width: 23%;">
    <div class="pr-3 pt-3 float-right">
        <form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Cart" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" style="float:right">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </button>
            </span>
        </form>
    </div>
    <img src="..." class="card-img-top" alt="...">
    <div class="text-center">
        <strong>@Model.Name</strong>
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Description</p>
    </div>
    <div>
        <div class="pb-4 pr-4 float-right">
            <span class="badge badge-pill badge-primary">
                <strong>@Model.Price.ToString("c")</strong>
            </span>
        </div>
    </div>
</div>