@model Product

<div class="card" style="">
    <div class="pr-3 pt-3">
        <form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Cart" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text p-1">
                <button type="submit"
                        class="btn btn-success btn-sm pull-right" style="float:right">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </button>
            </span>
        </form>
    </div>
    <div class="text-center pb-2" style="height: 150px;">
        <div class="text-center" style="display: block;height:150px; width: 150px; margin: auto">
            @if (Model.ProductID == 1)
            {
                <img src="https://s3.przepisy.pl/przepisy3ii/img/variants/767x0/pizza-hawajska.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 2)
            {
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/b3/38/cf/pizza-milano.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 3)
            {
                <img src="https://www.kwestiasmaku.com/sites/v123.kwestiasmaku.com/files/page205_4.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 4)
            {
                <img src="https://mieszamwgarnku.pl/wp-content/uploads/2016/12/pierogi-z-kapusta.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 5)
            {
                <img src="https://d3iamf8ydd24h9.cloudfront.net/pictures/articles/2017/12/19735-v-900x556.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 6)
            {
                <img src="https://www.przyslijprzepis.pl/uploads/media/recipe/0002/10/43c380b3ba58f9133f05c615734e9f1bcc8d54ed.jpeg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 7)
            {
                <img src="https://s3.przepisy.pl/przepisy3ii/img/variants/767x0/zupa-pomidorowa.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 8)
            {
                <img src="https://s3.przepisy.pl/przepisy3ii/img/variants/767x0/rosol_z_kury170242.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 9)
            {
                <img src="https://gfx.radiozet.pl/var/radiozet/storage/images/co-gdzie-kiedy-jak/barszcz-czerwony-wigilijny-magdy-gessler-na-zakwasie-tradycyjny-przepis/920488-1-pol-PL/Barszcz-czerwony-wigilijny-Magdy-Gessler-na-zakwasie-TRADYCYJNY-PRZEPIS_article.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 10)
            {
                <img src="https://akansushi.pl/wp-content/uploads/2019/01/Akan13822.jpg" class="card-img-top" style="height:120px" alt="...">
            }
            @if (Model.ProductID == 11)
            {
                <img src="https://maikosushi.pl/546-tm_thickbox_default/misosichiro-z-lososiem.jpg" class="card-img-top" style="height:150px" alt="...">
            }
            @if (Model.ProductID == 12)
            {
                <img src="https://img.grouponcdn.com/deal/3AScwdMmXmMeo5J1JKN4SfaR2gGk/3A-900x540/v1/c700x420.jpg" class="card-img-top" style="height:120px" alt="...">
            }

        </div>
    </div>

    <div class="text-center">
        <strong>@Model.Name</strong>
    </div>
    <div class="card-body" style="height: 100px; overflow: hidden">
        <p class="card-text">@Model.Description</p>
    </div>
    <div>
        <div class="pb-4 pr-4 float-right">
            <span class="badge badge-pill badge-primary">
                <strong>@Model.Price.ToString("c")</strong>
            </span>
        </div>
    </div>
</div>